{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <div>
        <p>This is a Quick and Dirty Light Weight Very Base Application as Template</p>
        <p>The web application framework is inspired on microblog application from the blog
		    <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">The Flask Mega-Tutorial Part I: Hello, World! - miguelgrinberg.com</a></p>
		<p>Test introducing file name "01.txt"</p>
	</div>
{% endblock %}
